{{- $email := promptString "What is your e-mail address" -}}
{{- $laptop := promptBool "Is this a laptop (y/n)" -}}
{{- $work := promptBool "Do you use this device for work (y/n)" -}}

encryption = "gpg"

[gpg]
  recipient = "melvyn@mdekort.nl"

[data]
  laptop = {{ $laptop }}
  work = {{ $work }}
  email = "{{ $email }}"
