#!/bin/bash

#        _       _ _            
#  __  _(_)_ __ (_) |_ _ __ ___ 
#  \ \/ / | '_ \| | __| '__/ __|
# _ >  <| | | | | | |_| | | (__ 
#(_)_/\_\_|_| |_|_|\__|_|  \___|
#                               

userresources="$XDG_CONFIG_HOME"/X11/Xresources
sysresources=/etc/X11/xinit/.Xresources

# merge in defaults and keymaps
if [ -f $sysresources ]; then
  xrdb -merge $sysresources
fi

if [ -f "$userresources" ]; then
  xrdb -merge "$userresources"
fi

# start default X11 stuff
if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

# setup custom screen setup
if [ -f $HOME/.config/default-screen-setup ]; then
  $HOME/.config/default-screen-setup
fi

# setup graphics part of window manager
picom -b --config .config/picom/picom.conf
xwallpaper --zoom ~/.config/wallpaper.png &
betterlockscreen -u ~/Sync/pictures/wallpapers/ &
set-wallpaper $(realpath $(ls -1 ~/Sync/pictures/wallpapers/* | sort -R | head -n 1)) &

# start simple X hotkey daemon
sxhkd &

# start lockscreen
xss-lock -- betterlockscreen -l dimblur &

# set default cursor to arrow
xsetroot -cursor_name left_ptr

{{- if eq .chezmoi.hostname "ka01pwiltp071" }}
# disable pointing stick on laptop
xinput disable "DualPoint Stick"

# network manager
nm-applet &
{{- end }}

# applets
dunst &
udiskie &

# user applications that always run
alacritty &
google-chrome-stable &
slack &

# auto-reload X11 resources
( cd $HOME/.config/X11; watchexec -- xrdb Xresources & )

exec i3
