#!/bin/bash

#        _       _ _            
#  __  _(_)_ __ (_) |_ _ __ ___ 
#  \ \/ / | '_ \| | __| '__/ __|
# _ >  <| | | | | | |_| | | (__ 
#(_)_/\_\_|_| |_|_|\__|_|  \___|
#                               

userresources="$XDG_CONFIG_HOME"/X11/Xresources
sysresources=/etc/X11/xinit/.Xresources

# merge in defaults and keymaps
if [ -f $sysresources ]; then
  xrdb -merge $sysresources
fi

if [ -f "$userresources" ]; then
  xrdb -merge "$userresources"
fi

# start default X11 stuff
if [ -d /etc/X11/xinit/xinitrc.d ] ; then
  for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

# setup graphics part of window manager
#~/config/default-screen-setup &
compton &
xwallpaper --zoom ~/.config/wallpaper.png &

# screen locker
xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock &

# set default cursor to arrow
xsetroot -cursor_name left_ptr

{{- if eq .chezmoi.hostname "ka01pwiltp071" }}
# disable pointing stick on laptop
xinput disable "DualPoint Stick"

nm-applet &
{{- end }}

# applets
dropbox &
dunst &
udiskie &

# user applications that always run
alacritty &
google-chrome-stable &
slack &
whatschrome &

# auto-reload X11 resources
( cd $HOME/.config/X11; watchexec -- xrdb Xresources & )

exec i3
