machine ix.io
login {{ (index (lastpass "ix.io") 0).username }}
password {{ (index (lastpass "ix.io") 0).password }}

{{- if eq .email "m.de.kort@portbase.com" }}
machine api.bitbucket.org
login {{ (index (lastpass "Bitbucket API") 0).username }}
password {{ (index (lastpass "Bitbucket API") 0).password -}}
{{- end }}
