{{ (index (lastpass "SSH melvyn@mdekort.nl ed25519") 0).note.publicKey -}}
{{ (index (lastpass "SSH melvyn@mdekort.nl") 0).note.publicKey -}}
{{ (index (lastpass "SSH m.de.kort@portbase.com ed25519") 0).note.publicKey -}}
{{ (index (lastpass "SSH m.de.kort@portbase.com") 0).note.publicKey -}}
