[init]
  defaultBranch = master

[user]
	name = Melvyn de Kort
	email = {{ .email }}
  signingkey = 9178B037E6219610

[core]
	autocrlf = input
	filemode = false

[commit]
  gpgsign = true

[push]
	default = simple

[alias]
	cleanup = !git clean -dfx && git reset --hard origin/master && git checkout master && git stash clear && git pull && git gc

[diff]
	tool = meld

[pull]
	rebase = true

[fetch]
	prune = true
