[init]
  defaultBranch = master

[user]
	name = Melvyn de Kort
	email = {{ .email }}

[core]
	autocrlf = input
	filemode = false

[push]
	default = simple

[alias]
	cleanup = !git clean -dfx && git reset --hard origin/master && git checkout master && git stash clear && git pull && git gc

[diff]
	tool = meld

[pull]
	rebase = true

[fetch]
	prune = true
