{{- $firefox := "" -}}
{{- if eq .chezmoi.osRelease.id "ubuntu" -}}
  {{- $firefox = "firefox_firefox.desktop" -}}
{{- else -}}
  {{- $firefox = "firefox.desktop" -}}
{{- end -}}

[Default Applications]
text/html={{ $firefox }}
x-scheme-handler/http={{ $firefox }}
x-scheme-handler/https={{ $firefox }}
x-scheme-handler/about={{ $firefox }}
x-scheme-handler/msteams=teams.desktop
x-scheme-handler/mailto={{ $firefox }}
x-scheme-handler/postman=Postman.desktop
x-scheme-handler/chrome={{ $firefox }}
application/x-extension-htm={{ $firefox }}
application/x-extension-html={{ $firefox }}
application/x-extension-shtml={{ $firefox }}
application/xhtml+xml={{ $firefox }}
application/x-extension-xhtml={{ $firefox }}
application/x-extension-xht={{ $firefox }}
x-scheme-handler/rdp=org.remmina.Remmina.desktop
x-scheme-handler/spice=org.remmina.Remmina.desktop
x-scheme-handler/vnc=org.remmina.Remmina.desktop
x-scheme-handler/remmina=org.remmina.Remmina.desktop
application/x-remmina=org.remmina.Remmina.desktop
x-scheme-handler/unknown={{ $firefox }}

[Added Associations]
x-scheme-handler/http={{ $firefox }};
x-scheme-handler/https={{ $firefox }};
x-scheme-handler/chrome={{ $firefox }};
text/html={{ $firefox }};
application/x-extension-htm={{ $firefox }};
application/x-extension-html={{ $firefox }};
application/x-extension-shtml={{ $firefox }};
application/xhtml+xml={{ $firefox }};
application/x-extension-xhtml={{ $firefox }};
application/x-extension-xht={{ $firefox }};
video/mp4=mpv.desktop;
x-scheme-handler/rdp=org.remmina.Remmina.desktop;
x-scheme-handler/spice=org.remmina.Remmina.desktop;
x-scheme-handler/vnc=org.remmina.Remmina.desktop;
x-scheme-handler/remmina=org.remmina.Remmina.desktop;
application/x-remmina=org.remmina.Remmina.desktop;
